

:root {
  --accent-color: rgb(7, 145, 11); /* any valid CSS color */
}

/* Default fonts */
@font-face { font-family: "REGU"; src: url("../fonts/BarlowSemiCondensed-Regular.ttf"); }
@font-face { font-family: "BOLD"; src: url("../fonts/BarlowSemiCondensed-Bold.ttf"); }

*, *:before, *:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;  
    overflow: hidden;
    font-weight: bold;
    font-family: "REGU";
  }

.SPXWindow {
  opacity: 1;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}
