:root {

  /* COLORS */
  --theme-lite-color: rgb(216, 216, 216);
  --theme-dark-color: rgb(7, 32, 107);
  --theme-brandColor: rgb(9, 67, 137);
  --theme-tickerBack: white;

  --theme-accent-width: 8vw;
  --theme-ticker-height: 4.8vh;

  --theme-viewport-padding-top: 3vw;
  --theme-viewport-padding-sides: 2vw;
  --theme-viewport-padding-bottom: 1vw;
}

@font-face { font-family: "LITE"; src: url("../fonts/NordeaSansSmall-Regular.woff2");  }
@font-face { font-family: "REGU"; src: url("../fonts/NordeaSansSmall-Regular.woff2");  }
@font-face { font-family: "BOLD"; src: url("../fonts/NordeaSansSmall-Regular.woff2");  }
@font-face { font-family: "BLAC"; src: url("../fonts/NordeaSansSmall-Regular.woff2");  }


#logoLeft {

  /* Adjust until satisfied */

  width: 8vw;
  bottom: 4vh;
  opacity: 0; /* animated */
  left: 0.0vw;
  z-index: 100;
  aspect-ratio: 1/1;
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: bottom left;
  background-image: url('../img/banklogo.png');
  animation: 500ms ease-out 200ms logoAnimateIn forwards;
}

@keyframes logoAnimateIn {
  from {
    opacity: 0;
    scale: 1.2;
  }
  
  to {
    opacity: 1;
    scale: 1.0;
  }
}

.right #gfx {
  border-right: calc(var(--theme-accent-width)/8)
                solid 
                var(--theme-brandColor);
}

.right #details {
  justify-content: flex-end;
}

#title1 {
  background-color: var(--theme-lite-color);
  color: var(--theme-dark-color);
  font-family: 'REGU';
  font-size: 1.2em;
  padding: 0.2em 0.8em;
  border-bottom: 0.1em solid var(--theme-brandColor);
}

#title2{
  color: var(--theme-lite-color);
  text-shadow: none;
  font-family: 'REGU';
  font-size: 0.75em;
  padding: 0.5em 2.0em;
  margin-top: 0.2em;
  border-top: 0.1em solid var(--theme-lite-color);
  background-color: var(--theme-brandColor);

}

#rightInfo,
#leftInfo {
  background-color: var(--theme-lite-color);
  color: var(--theme-dark-color);
  font-family: 'REGU';
  font-size: 2.3em;
  padding: 0.2em 0.8em;
  border-left: calc(var(--theme-accent-width)/8)
               solid 
               var(--theme-brandColor);
  text-transform: uppercase;
}

#rightInfo {
  border-right: calc(var(--theme-accent-width)/8)
                solid 
                var(--theme-brandColor);
  border-left: 0;

}