
    <!-- footer start -->
    <div class="footerTable footer" style="background-color: rgba(0,0,0,0.2); padding:0 10 0 10px;">
      <table class="wide footerTable" style="border: 0px solid green;" cellpadding=0 cellspacing=0>
        <tr class="footerTable">
          <td class="footerTable">
            <span id="statusbar" class="footerTable statusbar"></span> <span id="working" class="working" style="display:none;"></span>
          </td>
          <td class="footerTable aright">

            <!--
            style="padding: 2px 10px;
                background-color: rgb(39, 95, 58);
                border-radius: 4px;
                margin-right: 10px;
                font-size: 90%;
                cursor: pointer;
                display: inline;
                "
            -->

            <a id="upgradeBubble"
              href="https://spxgc.tawk.help/article/latest-changes"
              class="newVersionBubble"
              title="{{lang 'hover.newversavailable'}}"
              onmouseover="hvr('{{lang 'hover.newversavailable'}}')";
              onmouseout="hvr('')";
              >
              <i class="fas fa-bullhorn"></i>&nbsp;<span id="upgradeVersion">v.X.X.X</span>&nbsp;<span id="upg"></span></a></span>
            {{!-- </span> --}}
            <span class="footerTable statusbar" style="opacity:0.53;">
              SPX v.<span id="footerVerDisplay">
                <span ondblclick="forceWM()">{{{ShowVersion}}}</span>
                {{#ifValue width '3840px'}}
                &nbsp;<span style="color: #f80;"><B> 4K </B></span>&nbsp;
                {{/ifValue}}

                {{#ifValue width '100vw'}}
                &nbsp;<span style="color: #f80;"><B> AUTO </B></span>&nbsp;
                {{/ifValue}}

                <!-- add a link to register -->
                {{#if config.registration.updated }}
                  <!-- Reg ok -->
                {{else}}
                  <A class="footerRegister" HREF="/register"><i class="fas fa-crown"></i>&nbsp; Register</A>
                {{/if}}


              </span>
              &nbsp;<A href="http://spx.graphics" target="_spxgccom">spx.graphics</A></span>
            <span class="footerTable statusbar" style="opacity:0.33;"> | 💡 <A href="https://forms.gle/T26xMFyNZt9E9S6d8" target="_feedback">feedback</A></span>
            <!-- <span class="beta">beta</span> -->
          </td>
        </tr>
      </table>
  </div><!-- footer end -->


<script>
  // show upgrade bubble if stored
  if (localStorage.getItem('SPX-GC-NewVersion')){
    document.getElementById('upgradeBubble').style.display="inline";
    document.getElementById('upgradeVersion').innerText=localStorage.getItem('SPX-GC-NewVersion');
    document.getElementById('newVersionMenuItem').style.display="block"; // Added in 1.1.0
  } else {
    document.getElementById('upgradeBubble').style.display="none"; // none
    document.getElementById('newVersionMenuItem').style.display="none"; // none
  }

  function hvr(msg){
    document.getElementById('upg').innerText=msg;
  }

</script>