  <div id="rdOptionsCollapsible">
    <div style="padding: 1.0rem; font-size: 0.9rem;">

      <table style="width: 100%;" cellspacing="5" border="0">
        <tr>
          <td width="30%">
            <span class="spxConfigHead">Comment</span>
          </td>
          <td>
            <input type="text" class="wide bg_grey15 RDoptionsText" value="{{comment}}" />
          </td>
        </tr>
        <tr>
          <td width="30%">
            <span class="spxConfigHead">Lock rundown from</span>
          </td>
          <td class="spxConfigHead">
             [X] Content editing [X] Sorting [X] Adding and removing
          </td>
        </tr>
        <tr>
          <td width="30%">
            <span class="spxConfigHead">Static background</span>
          </td>
          <td class="spxConfigHead">
             Dropdown [V]
          </td>
        </tr>
      </table>

    </div>
  </div>
