@font-face { font-family: "LITE"; src: url(../fonts/Blinker-Light.ttf) }
@font-face { font-family: "REGU"; src: url(../fonts/Blinker-Regular.ttf) }
@font-face { font-family: "BOLD"; src: url(../fonts/Blinker-Bold.ttf) }

:root {
    --layout_show-debug-buttons:    0; /* 1 or 0 */
    --layout_gradient-white-grey:   linear-gradient(180deg, rgb(255,255,255) 49%, rgb(232,232,232) 51%);
    --layout_rounding:              8px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;  
    overflow: hidden;
    font-family: "REGU";
    font-weight: bold;
    box-sizing: border-box;         /* Opera/IE 8+ */
  }

.SPXWindow {
  opacity: 1; /* animated */ 
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

#gfx {
    opacity: 0;
}

.testpanel {
    position:                   absolute;
    display:                    block;
    top:                        1100px;
    left:                       20px;
    background:                 #bbb;
    padding:                    1em;
    border-radius:              0.5em;
    opacity:                    0;
}

button {
    font-size:                  2em;
    margin:                     0.1em;
    background-color:           #777;
    color:                      #fff;
    padding:                    0.4em 2em;
}

button:hover {
    background-color:           #ff0;
    color:                      #000;
}
