##################
# UNWANTED FILES #
##################
._*
*.gz
*.md
*.7z
*.mov
*.mp4
*.mp3
*.txt
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip
*.log
*.env
*.bat
*.lnk
cg20.*
*.rest
env.json
thumbs.db
Thumbs.db
*env.json
.gitignore
desktop.ini
config*.json
static/*.json

## Temp files or drafts
zzz*.*
ORG*.*

## But do these
!CONTRIBUTING.md


############################
# UNWANTED GENERAL FOLDERS #
############################
viz/
bin/
notes/
notes2/
Distro/
DEV_*/**
DEF_*/**
.Trashes
.vscode/
ZIP_TEMP/
DATAROOT*
.DS_Store
pkg-builds/
zip_builds/
kubernetes/
node_modules/
.VSCodeCounter/
.Spotlight-V100
CONTENT_REPOSITORIES*/**


# IGNORE SPX DATAROOT
# ...but allow specific files and folders for GitHub
DATAROOT/*
!DATAROOT/HelloWorld-project/


# IGNORE SPX ASSETS
# ...allow specific files and folders for GitHub
ASSETS/
!ASSETS/csv/csv-folder.md
!ASSETS/excel/ticker/ticker_data_example.xlsx
!ASSETS/templates/softpix/Template_Pack_1.1/*

# ...allow some PLUGIN files for GitHub
!ASSETS/plugins/lib
!ASSETS/plugins/spxLinks
!ASSETS/plugins/panicButton
!ASSETS/plugins/animateAllOut

# ..and include some PLUGIN files for GitHub
!ASSETS/ExtraFunctions/modules
!ASSETS/ExtraFunctions/spx_internal_demo_functions.js


