<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choose a file</title>
  <style>
    body {
      background-color: #444;
      margin: 5px;
    }

    div {
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 16px;
      font-size: 1.6vw;
    }

    .spxMainPanel {
      height: 55vw;
      display: table;
      width: 100%;
      max-width: 2000px;
      text-align: center;
      border: 0px solid yellow;
      border-collapse: separate;
      border-spacing: 2px;
      margin: auto;
    }

    .spxTopRow {
      display: table-row;
      height: 4em;
      color: white;
      border: 1px solid yellowgreen;
    }

    .spxBottomRow {
      display: table-row;
      height: 12.5em;
      /* background: rgb(9, 36, 9); */
      color: beige;
      vertical-align: middle;
    }

    .spxMainSection {
      height: 100%;
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      border: 2px solid green;
    }

    .spxCell {
      display: table-cell;
      vertical-align: middle;
      margin: 10px !important;
      text-align: left;
      padding: 10px;
    }

    .spxPanelL {
      width: 50%;
      color: white;
    }

    .spxPanelC {
      width: 0.1em;
      /* background: red; */
      color: white;
    }

    .spxPanelR {
      color: white;
      border-left: 2px solid grey;
      margin-left: 10px;
    }

    .headlineArea {
      border-top: 2px solid grey;
      vertical-align: top;
    }



    .btn {
      padding: 0.5em 1.0em;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 1em;
      color: white;
      border: 2px solid rgb(255, 255, 255, 0.0);
    }

    .btn:hover {
      border: 2px solid white;
    }

    .btn:active {
      border: 2px solid black;
      color: #000000;
    }


    .darkBg {
      background-color: rgba(0, 0, 0, 0.2)
    }

    .bg_green {
      background-color: #54af3c;
    }

    .bg_yellow {
      background-color: #e5c310;
    }

    .bg_blue {
      background-color: #375ea3;
    }

    .bg_red {
      background-color: #c80019;
    }

    .bg_black {
      background-color: #000000;
    }

    .bg_white {
      background-color: #FFFFFF;
    }

    .bg_grey60 {
      background-color: #2f303e;
    }

    .bg_grey40 {
      background-color: #444758;
    }

    .bg_grey15 {
      background-color: #706e83;
    }

    .headlineinput {
      padding: 0.2em;
      background-color: inherit;
      border: 0;
      font-family: inherit;
      font-size: 1.4em;
      margin: 0px;
      color: inherit;
    }
  </style>


</head>

<body class="bg_black">
  <div class="spxMainPanel bg_grey60">

    <H1></H1>

    {{{body}}}

  </div>
</body>

</html>