<!DOCTYPE html>
<!-- empty -->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empty</title>
        <style>
			html, body {
				margin: 0;
				padding: 0;
				height: 100%;
				overflow: hidden;
				background-color: transparent;
			}

			#random {
				position: absolute;
				width: 100px;
				height: 100px;
				background-color: rgba(255, 0, 0, 0.324);
			}
		</style>

		<script>
			function play()  	{ emptyMessage('play') }
			function stop()   	{ emptyMessage('stop') }
			function invoke() 	{ emptyMessage('invoke') }
			function update() 	{ emptyMessage('update') }
			function data()   	{ emptyMessage('data') }
			function preview() 	{ emptyMessage('preview') }
			function emptyMessage(cmd) {
				// console.log('Empty layer received command "' + cmd + '", which is ignored');
			}

			// dosument on load
			document.onload = function() {
				let e = document.getElementById('random');
				e.style.left = Math.floor(Math.random() * 101) + '%';
				e.style.top = Math.floor(Math.random() * 101) + '%';
			}



		</script>

    </head>
    <body>
        <!-- nothing here -->
		<div id="random"></div>
    </body>
</html>












