<!DOCTYPE html>

<html>
  <head>
    <title>SPX Template | spx.graphics</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/anime.min.js"></script>
    <script src="js/spx_interface.js"></script>
    <link rel="stylesheet" type="text/css" href="css/spx_layout.css" />
    <link rel="stylesheet" type="text/css" href="css/countdown.css" />
    <script type="text/javascript">
      window.SPXGCTemplateDefinition = {
        description: "Utility template for live events",
        playserver: "OVERLAY",
        playchannel: "1",
        playlayer: "18",
        webplayout: "18",
        out: "manual",
        uicolor: "4",
        dataformat: "json",
        DataFields: [
          {
            field: "templateNickname",
            ftype: "textfield",
            title: "Item name to help operator",
            value: "[ Item name ]",
          },
          {
                "ftype" : "instruction",
                "value" : "A speaker countdown for live events. You can use any valid CSS color name or value in the colors. Get more templates from spx.graphics."
            },
          {
            field: "f0",
            ftype: "textfield",
            title: "Countdown MM:SS",
            value: "10:00",
          },
          {
            field: "f1",
            ftype: "textfield",
            title: "Default Color (any valid CSS color or value will work)",
            value: "deepskyblue",
          },
          {
            field: "f2",
            ftype: "textfield",
            title: "&lt; First timelimit (in seconds) = color",
            value: "60 = orange",
          },
          {
            field: "f3",
            ftype: "textfield",
            title: "&lt; Second timelimit (in seconds) = color",
            value: "15 = red",
          },
          {
            field: "f4",
            ftype: "filelist",
            title: "Logo image",
            assetfolder: "./img/",
            extension: "png",
            value: "./img/lang-ag.png",
          },
          {
            field: "f5",
            ftype: "textarea",
            title: "Optional Text",
            value: "EVENT NAME\nSpeaker Name\nCompany Name",
          },
        ],
      }; // Definition ended
    </script>
  </head>

  <body>
    <div class="SPXWindow">
      <div id="gfx">
        <div class="container" id="container">
          <div id="clock"></div>
          <div class="progress_bar" id="progress_bar">
            <div class="progressBar" id="progressBar"></div>
            <div class="pb_time" id="pb_time"></div>
          </div>
          <div id="bottom_area">
            <div id="optional_text"></div>
            <div id="line1"></div>
            <div id="logo_container">
              <div id="logotexture"></div>
            </div>
            <div id="line2"></div>
            <div id="current_time"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="flexItem" id="g-f0"></div>
    <div class="flexItem" id="g-f1"></div>
    <div class="flexItem" id="g-f2"></div>
    <div class="flexItem" id="g-f3"></div>
    <div class="flexItem" id="g-f4"></div>
    <div class="flexItem" id="g-f5"></div>

    <!-- ******************************************************************** -->
    <table id="SPXdataFields" data-dev-reminder="Visibility in global.css">
      <tr>
        <td class="datahead" colspan="2"><b>SPX Data</b></td>
      </tr>
      <tr><td>Field (f0) countdown ............... </td><td id="f0"></td></tr>
      <tr><td>Field (f1) default color ........... </td><td id="f1"></td></tr>
      <tr><td>Field (f2) time1 = color ........... </td><td id="f2"></td></tr>
      <tr><td>Field (3) time2 = color ............ </td><td id="f3"></td></tr>
      <tr><td>Field (3) logo image ............... </td><td id="f4"></td></tr>
      <tr><td>Field (3) optional text ............ </td><td id="f5"></td></tr>
    </table>
    <!-- ******************************************************************** -->

    <script type="module">

      var elem = e("progressBar");
      var width = 0;
      let minutes;
      let seconds;
      let blink1Cl;
      let blink2Cl;
      let timer1, timer2;
      let color1, color2;
      let fullDuration;

      function e(ID)  { return document.getElementById(ID); }

      function runTemplateUpdate(msg) {
        // Initialize graphics
        
        e("g-f0").innerHTML = htmlDecode(e("f0").innerText); // Countdown
        e("g-f1").innerHTML = htmlDecode(e("f1").innerText); // Default color
        e("g-f2").innerHTML = htmlDecode(e("f2").innerText); // time1 = color
        e("g-f3").innerHTML = htmlDecode(e("f3").innerText); // time2 = color

        //parsing data and initializing
        e("clock").innerHTML = e("g-f0").innerHTML;
        e("clock").style.color = e("g-f1").innerHTML;

        const clock = e("clock");
        var array = e("g-f0").innerHTML.split(":");
        fullDuration = parseInt(array[0], 10) * 60 + parseInt(array[1], 10);

        timer1 = e("g-f2").innerHTML.split(" = ");
        timer2 = e("g-f3").innerHTML.split(" = ");
        e("progressBar").style.backgroundColor = e("f1").innerText;

        e("pb_time").innerText = e("g-f0").innerHTML;

        if (e("f5").innerHTML !== "") {
          let texts = e("f5").innerText.split(",<br>");
          e("optional_text").innerHTML = texts.map((text) => {
            return text + "<br>";
          });
        } else {
          e("optional_text").style.display = "none";
          e("line1").style.display = "none";
        }

        if (e("f4").innerHTML !== "none") {
          e("logo_container").style.display = "block";
          e("logotexture").style.backgroundImage = 'url(' + e("f4").innerText + ')';
        } else {
          e("logo_container").style.display = "none";
        }
        setTimeout(function () {
          runAnimationIN();
          startTimer(fullDuration, clock);
        }, 0);
      }

      //helper function for progress bar

      function progressBar(timer) {
        let newWidth = Math.min(100 - (Math.min(100, (timer * 100) / fullDuration)), 100);
        anime({
            targets:    elem,
            easing:     'easeOutCubic',
            width:      newWidth + "%",
        });
      }

      function startTimer(duration, display) {
        var timer = duration;
        let overtime = 1;
        showClock();
        setInterval(function () {
          showClock();
          progressBar(timer);
          let lessThanMinute = false;
          minutes = parseInt(timer / 60, 10);
          seconds = parseInt(timer % 60, 10);
          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          if (timer >= 0) {
            e('clock').style.opacity=1;

            if (timer < 60) {
              display.innerHTML = seconds;
              lessThanMinute = true;
            }

            if (timer === timer1[0] * 1 || timer === timer2[0] * 1) {
              const xMax = 16;
              anime({
                targets: "#clock",
                easing: "easeInOutSine",
                duration: 550,
                translateX: [
                  {value: xMax * -1, },
                  { value: xMax,  },
                  { value: xMax / -2, },
                  { value: xMax / 2, },
                  { value: 0, },
                ],
              });
            }
            if (timer <= timer1[0]) {
              e("clock").style.color = timer1[1];
              e("progressBar").style.backgroundColor = timer1[1];
            }
            if (timer <= timer2[0]) {
              e("clock").style.color = timer2[1];
              e("progressBar").style.backgroundColor = timer2[1];
            }

            if (timer % 2 === 0) {
              color1   = e('clock').style.color;
              color2   = "var(--darkColor)"
            } else {
              color1   = "var(--darkColor)"
              color2   = e('clock').style.color;
            }

            if (!lessThanMinute) {
              display.innerHTML = minutes +
              ` <div class="clock_blink">
                <div class="blinker" style="background-color:${color1};"></div>
                <div class="blinker" style="background-color:${color2};"></div>
                </div>` +
                seconds;
            }

            } else {
              //overtime
              e("progressBar").display = "none";
              e("pb_time").innerHTML = "&gt; " + e("g-f0").innerHTML;
              e("clock").style.backgroundColor = timer2[1];
              e("clock").style.color = "white";
              let Ominutes = parseInt(overtime / 60, 10);
              let Oseconds = parseInt(overtime % 60, 10);
              Ominutes = Ominutes < 10 ? "0" + Ominutes : Ominutes;
              Oseconds = Oseconds < 10 ? "0" + Oseconds : Oseconds;
              e("clock").innerHTML = '<div class="timesup">Time is up!</div><BR><div class="timesupNros">OVERTIME +' +
                Ominutes + ':' + Oseconds + '</div>';
              overtime += 1;
            }
          timer = timer - 1;
        }, 1000);

      } // end startTimer

      function runAnimationIN() {
        anime({
            targets:    '#gfx',
            opacity:    { value: [0,1], duration: 500, delay: 0, easing: 'linear' },
        });
      }

      function runAnimationOUT() {
        anime({
            targets:    '#gfx',
            opacity:    { value: 0, duration: 500, delay: 0, easing: 'linear' },
        });

        var id = window.setTimeout(function () {}, 0);
        while (id--) {
          window.clearTimeout(id);
        }
      }

      //helper function for global clock
      function showClock() {
        var x = new Date();
        var month = pad(x.getMonth() + 1);
        var day = pad(x.getDate());
        var year = x.getFullYear();
        var x3 = day + "-" + month + "-" + year;

        // time part //
        var hour = pad(x.getHours());
        var minute = pad(x.getMinutes());
        var second = pad(x.getSeconds());
        var x3 = x3 + "<br>" + hour + ":" + minute; // + ":" + second;
        e("current_time").innerHTML = x3;
      }

      function pad(n) {
        return n < 10 ? "0" + n : n;
      }

      // Expose functions to the global scope:
      window.runAnimationIN = runAnimationIN;
      window.runAnimationOUT = runAnimationOUT;
      window.runTemplateUpdate = runTemplateUpdate;
      window.showClock = showClock;
      window.startTimer = startTimer;
      window.progressBar = progressBar;
    </script>
  </body>
</html>
