/*

  STYLE ..... Day spa
  SHAPE ..... Straight
  CORNERS ... Rounded
  COLORS .... Beige and feminine

  ----------------------------------------------------------------------

  This temaplate pack uses "customize.css" to read colors and some shape
  attributes. Experiment with styles copying and renaming files. See
  css-folder with few example customization example files.

*/


:root {
  /* BRAND ACCENT COLORS primary and secondary */
  --spx-accent-color: rgba(255, 0, 0, 0.973);
  
  /* PLATE 1 */
  --spx-bgcol1-color: rgba(0, 0, 0, 0.603);
  --spx-txcol1-color: rgb(255, 255, 255);
  --spx-txsha1-color: rgba(0, 0, 0, 0);
  
  /* PLATE 2 */
  --spx-bgcol2-color: rgba(0, 0, 0, 0.863);
  --spx-txcol2-color: rgb(255, 255, 255);
  --spx-txsha2-color: rgba(255, 255, 255, 0);

  /* PLATE 3 */
  --spx-bgcol3-color: rgba(0, 0, 0, 0.363);
  --spx-txcol3-color: rgb(255, 255, 255);
  --spx-txsha3-color: rgba(212, 209, 16, 0); 

  /* SKEW degrees for angled backgrounds (try also negative values, such as -15deg)*/
  --skew-amount-degs: -10deg;
  
  /* ROUNDING VALUES for backgrounds */
  --rounding-first:  0.0em;
  --rounding-second: 0.0em;
  
}


@font-face { font-family: "UI-Light";   src: url("fonts/Teko-Light.ttf");  }
@font-face { font-family: "UI-Regular"; src: url("fonts/Teko-Regular.ttf");  }
@font-face { font-family: "UI-Bold";    src: url("fonts/Teko-SemiBold.ttf"); }
@font-face { font-family: "UI-Black";   src: url("fonts/Teko-Bold.ttf");   }
