:root {

    /* COLORS */
    --theme-lite-color: #2a3641;
    --theme-dark-color: black;
    --theme-brandColor: rgb(38, 118, 23);
    --theme-tickerBack: white;

    --theme-accent-width: 0.5vw;
    --theme-ticker-height: 4.7vh;

    --theme-viewport-padding-top: 4vw;
    --theme-viewport-padding-sides: 3vw;
    --theme-viewport-padding-bottom: 1vw;
}

@font-face { font-family: "LITE"; src: url("../fonts/EncodeSansSemiExpanded-Light.ttf");   }
@font-face { font-family: "REGU"; src: url("../fonts/EncodeSansSemiExpanded-Regular.ttf"); }
@font-face { font-family: "BOLD"; src: url("../fonts/EncodeSansSemiExpanded-Bold.ttf");    }
@font-face { font-family: "BLAC"; src: url("../fonts/EncodeSansSemiExpanded-Black.ttf");   }

#gfx {
    border-bottom-left-radius: 1em;
    bottom: 6.5vh !important;
}

#gfx.infoRight,
#gfx.infoLeft {
    border-radius: 0;
    bottom: unset !important;
}

#box1 {
    border-top-right-radius: 0.4em;
}


#text1,
#text2,
#text3 {
    height: 100%;
    color: white;
    line-height: 1em;
    font-family: 'LITE';
    padding: 0 !important;
    text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.8);
}

#text3 {
    font-family: 'REGU';
    color: rgba(255, 255, 255, 0.7);
}

#box1,
#box2,
#box3,
#box4 {
    padding: 0.3em !important;
}

#text3 {
    padding-right: 1.0em !important;
}

#rightInfo,
#leftInfo,
#title1,
#box1 {
    background:
        linear-gradient(270deg,
            transparent 40%,
            rgba(255, 255, 255, 0.7) 50%,
            transparent 60%),
        linear-gradient(to bottom,
            var(--theme-lite-color) 40%,
            #1a2025 100%);
    animation: AnimationName 600ms ease-in 200ms;
    background-size: 400% 100%, 100% 100%;
    background-repeat: no-repeat;
}

@keyframes AnimationName {
    0% {
        background-position: 0% 0%
    }

    100% {
        background-position: 100% 0%
    }
}



/* right variants: */

.right #gfx {
    border-bottom-right-radius: 1em;
}

.right #box1 {
    border-top-right-radius: 0;
    border-top-left-radius: 0.4em;
    animation: AnimationNameR 600ms ease-in !important;
}

@keyframes AnimationNameR {
    0% {
        background-position: 100% 0%
    }

    100% {
        background-position: 0% 0%
    }
}


.right #details {
    justify-content: flex-end;
}

.right #box1 {
    padding-left: 1.5em !important;
}

.right #text1 {
    padding-right: 0.1em !important;
}

.right #text2 {
    padding: 0.2em 0.4em;
    padding-left: 1.0em !important;
}

.right #text3 {
    padding: 0.2em;
    padding-right: 0.5em !important;
}


#title1 {
    color: white;
    font-size: 1.2em;
    font-family: 'LITE';
    padding: 0.2em 1.5em;
    border-radius: 0.5em;
    justify-content: center;
    border-bottom: 0.05em solid rgba(255, 255, 255, 0.314);
}

#title2 {
    color: white;
    font-size: 0.75em;
    font-family: 'REGU';
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.8);
    background-position: center center;
    background-size: 100% 100%;
    padding: 0.5em 2.0em;
    border-radius: 0 0 0.5em 0.5em;
    background-repeat: no-repeat;
    background: linear-gradient(
                    180deg,
                    rgba(0,0,0,0.5) 0%,
                    transparent 25%
                ),
                var(--theme-brandColor)
    ;
}

#leftInfo {
    font-family: 'REGU';
    font-size: 2.5vh;
    color: white;
    border-left: var(--theme-accent-width)
                 solid 
                 var(--theme-brandColor);
    padding: 0.4em 1.0em;
    text-transform: uppercase;
}

#rightInfo {
    font-family: 'REGU';
    font-size: 2.5vh;
    color: white;
    border-right: var(--theme-accent-width)
                 solid 
                 var(--theme-brandColor);
    padding: 0.4em 1.0em;
    text-transform: uppercase;
}

#gfx.ticker  {
    bottom: 0.5vh !important;
}

#tickerZone {
    background-image:
        linear-gradient(
            180deg,
            rgb(255, 255, 255) 45%,
            rgb(218, 218, 218) 55%
        );
}

#tickerZone > #headline {
    font-size: 0.8em;
    padding: 0 0.57em;
    padding-top: 0.15em;
    font-family: 'REGU';
    text-transform: uppercase;
    color: var(--theme-tickerBack) !important;
    text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.7);  
}

#tickerZone > #headline::after {
    content: "‣";
    color: white;
    margin-left: 0.5em;
    font-size: 1.4em;
    line-height: 0.8em;
    text-shadow: none;
    animation: PulseIt 1s ease-in-out infinite alternate;
}

@keyframes PulseIt {
    0%   { opacity: 100% }
    100% { opacity:  20% }
}


#tickerZone #tickerText {
    font-size: 0.8em;
    padding-top: 0.2em;
    font-family: 'REGU' !important;
    text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.25);  
}
 
