:root {

  /* COLORS */
  --theme-lite-color: rgb(245, 240, 173);
  --theme-dark-color: rgb(43, 24, 5);
  --theme-brandColor: rgb(88, 46, 9);
  --theme-tickerBack: rgb(245, 240, 173);

  --theme-accent-width: 0vw;
  --theme-ticker-height: 4.7vh;

  --theme-viewport-padding-top: 4vw;
  --theme-viewport-padding-sides: 3vw;
  --theme-viewport-padding-bottom: 4vw;
}

@font-face { font-family: "LITE"; src: url("../fonts/Amaranth-Italic.ttf");     }
@font-face { font-family: "REGU"; src: url("../fonts/Amaranth-Regular.ttf");    }
@font-face { font-family: "BOLD"; src: url("../fonts/Amaranth-BoldItalic.ttf"); }
@font-face { font-family: "BLAC"; src: url("../fonts/Amaranth-Bold.ttf");       }


#box1 {
  background-color: transparent;
  padding-left: 0;
}

#text1 {
  width: 100%;
  color: white;
  font-size: 1.2em;
  padding-left: 0.4em;
  margin-left: -0.4em;
  text-shadow: 0.07em 0.07em var(--theme-brandColor);
  border-left: 0.1em solid var(--theme-brandColor);
}

.right #details {
  justify-content: flex-end;
}

.right #box1 {
  padding-right: 0;
}


.right #text1 {
  padding-right: 0.4em;
  margin-left: 1.4em;
  border-left: 0;
  border-right: 0.1em solid var(--theme-brandColor);
}



#title1 {
  color: white;
  font-size: 1.2em;
  font-family: 'BOLD';
  padding: 0.2em 1.5em;
  text-shadow: 0.07em 0.07em var(--theme-brandColor);
  border-bottom: 0.07em solid var(--theme-brandColor);
}

#title2 {
  margin-top: 0.1em;
  font-size: 0.75em;
  font-family: 'REGU';
  padding: 0.4em 1.5em;
  color: var(--theme-lite-color);
  background-color: var(--theme-brandColor);
}

#rightInfo,
#leftInfo {
  background-color: transparent;
  color: white;
  font-family: 'REGU';
  font-size: 2.3em;
  padding: 0.2em 0.8em;
  border-left: 0.2em
               solid 
               var(--theme-brandColor);
}

#rightInfo {
  border-right: 0.2em
                solid 
                var(--theme-brandColor);
  border-left: 0;

}