<!DOCTYPE html>
<!-- this is an empty file, which acts as a placeholder -->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Empty</title>
        <style>
			html, body {
				background-color: rgba(255,255,255,0.0);
				margin: 0px;
				box-sizing: border-box;
				height: 100%;
				overflow: hidden;
				font-family: sans-serif;
			}

			*, *:before, *:after {
				box-sizing: inherit;
				margin: 0;
				padding: 0;
				}
		</style>

		<script>
			function echo(msg)
			{
				document.getElementById('debug').innerText=msg;
			}

			function play() 	{ emptyMessage('play') }
			function stop() 	{ emptyMessage('stop') }
			function invoke() 	{ emptyMessage('invoke') }
			function update() 	{ emptyMessage('update') }
			function data() 	{ emptyMessage('data') }

			function emptyMessage(cmd)
				{
					// console.log('FYI: empty.html received command [' + cmd + '].');
				}

		</script>
		<script>
			window.SPXGCTemplateDefinition = {
				"description": "INTERNAL GC FILE - Should not be used in projects.",
				"playserver": "-",
				"playchannel": "1",
				"playlayer": "7",
				"webplayout": "-",
				"out": "none",
				"uicolor": "0",
				"DataFields": [
					{
						"field" : "caption",
						"ftype" : "caption",
						"title" : "EMPTY FILE",
						"value" : "Internal GC file. Should not be used in projects."
					}
				]
			};
		</script>
    </head>
    <body>
	<span id="debug"></span>
    </body>
</html>